/* @keyframes sildein {
    from {
        top: -70px;
    }

    to {
        top: 0;
    }
}

 @keyframes zoomout {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.1);
    }
} 

@keyframes rotate {
    from {
        top: -70px;
    }

    to {
        top: 0;
    }
}

@media only screen and (max-width: 767px){
@keyframes silde_in {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}
} */
@keyframes sildein { 
    0% { 
      top:-70px;
    } 
    10%{
        top:-70px;
    }
    100% {
      top: 0;
    }
  }


@keyframes stroke { 
    0% { 
      stroke-dashoffset: 750;
    } 
    100% {
      stroke-dashoffset: 0;
    }
  }

  
@keyframes slideup { 
    0% { 
        transform: translateY(100%);
    } 
    100% { 
        transform: translateY(0);
    } 
  }

@keyframes more_btn { 
    0% { 
        transform: translateY(100%);
        opacity: 0;
    } 
    100% { 
        transform: translateY(0);
        opacity: 1;
    } 
  }

.aniBox.type_cv:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 101%;
    background-color: #fff;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.aniBox.type_cv.rightleft:after {
    right: 0;
    left: auto;
}

.aniBox.type_cv.bottop:after {
    top: 0;
}

.aniBox.type_cv.gogo:after {
    height: 0;
}


.aniBox.type_cv.rightleft.gogo:after, .aniBox.type_cv.leftright.gogo:after {
    width: 0;
    height: 101%;
}