::selection {
    color: #fff;
    background: #00305b;
}

/* 공통 */
.w1520 {
    width: 1520px;
    margin: auto;
}

/* header */
header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    animation-duration: 0.6s;
    animation-name: sildein;
}

#header_top {
    display: flex;
    width: 1520px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

h1 img {
    position: relative;
    top: -3px;
    height: 35px;
}

.logo img {
    position: absolute;
    top: 12px;
    z-index: 99999;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.logo .logo_color {
    opacity: 1;
}

.logo .logo_white {
    opacity: 0;
}

.logo_ps > ul {
    display: flex;
    padding-left: 80px;
}

.logo_ps li {
    margin: 0 15px;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    position: relative;
}

nav > ul > li > a {
    display: flex;
    padding: 0 30px;
    font-size: 15px;
    line-height: 70px;
    color: #000;
    white-space: nowrap;
}

nav > ul > li:hover > a {
    font-weight: bold;
}

nav > ul > li > a::before {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #00305b;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: width 0.25s ease-in-out;
    -webkit-transition: width 0.25s ease-in-out;
}

nav > ul > li:hover > a::before {
    width: 100%;
}

nav > ul > li > ul {
    text-align: left;
    display: none;
    position: absolute;
    left: 50%;
    min-width: 100%;
    padding: 20px 34px;
    background-color: #ffffff;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

nav > ul > li:hover ul {
    display: block;
}

nav > ul > li > ul a {
    display: block;
    white-space: nowrap;
    font-size: 15px;
    line-height: 2.67;
    color: #646464;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
}

nav > ul > li > ul a:hover {
    color: #00305b;
    text-shadow: 0 0 0.5px #00305b;
}

.btn_nav a {
    position: relative;
    display: inline-block;
    font-size: 0;
    text-align: right;
    width: 21px;
    height: 21px;
    overflow: hidden;
    z-index: 9999;
}

.btn_nav span {
    width: 100%;
    position: absolute;
    height: 3px;
    float: right;
    margin-bottom: 6px;
    display: block;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transform-origin: 0;
    /* 트랜지션 종류 찾아보기 */
}

.btn_nav span:nth-child(2) {
    top: 7px;
}

.btn_nav span:nth-child(3) {
    width: 60%;
    top: 14px;
}

.btn_nav a:hover span:first-child {
    width: 60%;
}

.btn_nav a:hover span:last-child {
    width: 100%;
}

.btn_nav a.active span {
    background-color: #fff;
    width: 100%;
    margin: 0;
}

.btn_nav a.active:hover span:first-child {
    width: 100%;
}

.btn_nav a.active span:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: 1px;
}

.btn_nav a.active span:nth-child(2) {
    width: 0;
}

.btn_nav a.active span:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 15px;
    left: 1px;
}

.allMenuWrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #00305b;
    padding: 70px 0 50px;
    z-index: 2;
    box-sizing: border-box;
}

.allMenuWrap_inner {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.allMenuWrap_inner .allMenu_inner {
    display: table;
    width: 1520px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.allMenuWrap .allMenu {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

.allMenuWrap .allMenu > li {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    padding: 0 10px;
}

.allMenuWrap .allMenu > li:first-child {
    padding-left: 0;
}

.allMenuWrap .allMenu > li > a,
.allMenuWrap .allMenu > li > span {
    display: block;
    font-size: 37px;
    font-weight: 600;
    line-height: 55px;
    color: #466c8f;
}

.allMenuWrap .allMenu > li > span {
    display: none;
}

.allMenuWrap .allMenu > li > a em {
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #39b919;
    font-weight: 500;
    margin-bottom: 29px;
}

.allMenuWrap .allMenu li ul {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    height: auto;
}

.allMenuWrap .allMenu li li {
    display: block;
    text-align: left;
}

.allMenuWrap .allMenu li ul li + li {
    margin-top: 10px;
}

.allMenuWrap .allMenu li li a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    opacity: 0.9;
    color: #fff;
}

.allMenuWrap .allMenu li li a:before {
    position: absolute;
    content: '';
    left: 50%;
    width: 0;
    bottom: 8px;
    height: 1px;
    background-color: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
}

.allMenuWrap .allMenu li li:hover a:before {
    width: 100%;
}

/* footer start */

.ft_wrap {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.ft_logo {
    width: 192px;
}

.ft_logo img {
    width: 100%;
    height: auto;
}

.ft_txt {
    display: none;
}

.ft_sblogo {
    display: none;
}

.ft_info {
    padding-left: 50px;
}

.ft_info li {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #707070;
}

.ft_info li span {
    display: inline-block;
}

/* .ft_info li:last-child {
    margin-top: 8px;
} */

.ft_info span:not(:last-child)::after {
    content: ' /';
}

.ft_copy {
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    flex-shrink: 0;
}

.ft_copy a {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    color: #707070;
}

.ft_copy a:last-child {
    margin: 0;
}

.ft_copy a:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    right: -10px;
    top: 4px;
    background-color: #707070;
}

.ft_copy a:nth-child(2) {
    color: #39b919;
}

.ft_copy p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    color: #707070;
}

@media only screen and (max-width: 1520px) {
    .w1520 {
        width: 95%;
    }

    #header_top {
        width: 95%;
        position: relative;
    }

    .logo_ps li {
        margin: 0;
    }

    .logo_ps li img {
        width: 72%;
        height: auto;
    }

    .allMenuWrap_inner .allMenu_inner {
        width: 100%;
        padding: 0 50px;
    }

    .allMenuWrap .allMenu > li > a {
        font-size: 30px;
        line-height: 40px;
    }

    .allMenuWrap .allMenu li li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1244px) {
    .logo_ps {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .allMenuWrap .allMenu > li {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .allMenuWrap .allMenu > li > span {
        display: block;
        cursor: pointer;
    }

    .allMenuWrap .allMenu > li > a {
        display: none;
    }

    .allMenuWrap .allMenu > li > span {
        font-size: 30px;
        line-height: 40px;
    }

    .allMenuWrap .allMenu li ul {
        display: block;
        margin-top: 20px;
        margin-bottom: 17px;
        max-height: 0;
    }

    .allMenuWrap .allMenu li ul.active {
    }

    .allMenuWrap .allMenu > li + li {
        margin-top: 10px;
    }

    .allMenuWrap .allMenu > li:first-child {
        padding-left: 0;
    }

    .allMenuWrap .allMenu li li {
        text-align: center;
    }

    .ft_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .ft_info {
        padding: 0;
    }

    .ft_copy {
        text-align: left;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
    }

    .ft_info {
        margin-top: 30px;
    }

    .ft_info li {
        font-size: 12px;
        line-height: 20px;
        color: #fff;
    }

    .ft_copy {
        margin-top: 30px;
    }

    .ft_copy p {
        color: #fff;
    }

    .ft_copy a {
        color: #fff;
    }

    .ft_copy a:nth-child(2) {
        font-size: 14px;
    }
}

@media only screen and (max-width: 949px) {
    /* header {
        padding: 8px 0;
    } */

    .logo img {
        top: -12px;
    }

    nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    header {
        height: 50px;
    }

    .btn_nav {
        padding-top: 5px;
    }

    .btn_nav span {
        height: 2px;
    }

    h1 img {
        left: 15px;
        height: 26px;
    }

    .allMenuWrap .allMenu > li > a,
    .allMenuWrap .allMenu > li > span {
        font-size: 25px;
    }

    .allMenuWrap .allMenu li ul li + li {
        margin-top: 0;
    }

    .allMenuWrap .allMenu li ul > li > a {
        font-size: 13px;
    }

    .logo img {
        top: 0;
    }

    .ft_logo {
        display: none;
    }

    .ft_txt {
        display: block;
        color: #fff;
        font-size: 38px;
        margin-bottom: 19px;
    }

    .ft_sblogo {
        display: block;
    }
}
