main {
    padding-top: 70px;
}

#sec1 {
    position: relative;
    padding: 125px 0;
    /* 높이가 있는애가 relative 없는애가 앱솔루트인게 편하다 */
}

.svg_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

svg > text {
    font-size: 180px;
    font-weight: bold;
    fill: transparent;
    stroke: #b0e3a3;
    stroke-width: 2;
}

#sec1 article {
    position: relative;
    z-index: 10;
    top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#sec1 article p {
    font-size: 44px;
    line-height: 64px;
    font-weight: bold;
    color: #000;
}

.btn_more a {
    display: block;
    width: 180px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
}
/* sec2 start */
#sec2 {
    padding-top: 80px;
}

.mc1_img_wrap {
    width: 100%;
    padding-top: calc(662 / 1920 * 100%);
    background-image: url(../img/main/mc1_img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mc1_bnr {
    width: 100%;
    height: 300px;
    color: #fff;
    background-image: url(../img/main/mc1_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /* 가로세로 가운데정렬 두가지방법 */
    /* display: flex;
    flex-direction: colum;
    justifycontent: center; */
}

.mc1_bnr h3 {
    text-align: center;
    width: 100%;
    font-size: 27px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 4.94px;
}

.mc1_bnr p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.4;
    margin-top: 22px;
}

.contents {
    display: flex;
    padding: 185px 0;
}

.cont_big {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}
.cont_big a {
    display: block;
    width: 100%;
    height: 620px;
    background-color: antiquewhite;
    background-image: url(../img/main/mc2_img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.cont_small {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.cont_small > div {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.cont_small a {
    display: block;
    width: 100%;
    height: 305px;
    background-color: #b0e3a3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.cont_small .img1 {
    background-image: url(../img/main/mc2_img2.jpg);
}
.cont_small .img2 {
    background-image: url(../img/main/mc2_img3.jpg);
}
.cont_small .img3 {
    background-image: url(../img/main/mc2_img4.jpg);
}
.cont_small .img4 {
    background-image: url(../img/main/mc2_img5.jpg);
}

.cont_txt {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    font-weight: 700;
    color: #fff;
}

.cont_txt h3 {
    display: block;
    font-size: 20px;
    line-height: 29px;
}

.cont_txt p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.black {
    background-color: #000;
    overflow: hidden;
}

.mc3 {
    padding: 135px 0;
}
.mc3 > h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
    color: #fff;
    margin-bottom: 50px;
}

.mc3 > div > div {
    width: calc(100% + 114px);
    display: flex;
    margin-left: -57px;
}

.mc3 figure {
    width: 33.333%;
    padding: 0 57px;
    box-sizing: border-box;
}

.mc3 img {
    width: 100%;
    height: auto;
}

figcaption {
    color: #fff;
    margin-top: 40px;
}

figcaption h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

figcaption p {
    font-size: 15px;
    line-height: 22px;
    opacity: 0.6;
    margin-top: 14px;
}

.btn_mc3 {
    display: block;
    margin-top: 50px;
    width: 120px;
    line-height: 38px;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
}

.center {
    width: 100%;
    height: 1072px;
    position: relative;
    overflow: hidden;
}

.cen_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ma_img {
    background-image: url(../img/main/mc4_loc2.jpg);
}
.go_img {
    background-image: url(../img/main/mc4_loc3.jpg);
}
.se_img {
    background-image: url(../img/main/mc4_loc1.jpg);
}

.cen_wrap {
    position: absolute;
    /* margin:auto랑 함께 쓰려면 relative 밖에 안됨 */
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cen_txt span {
    font-size: 20px;
    line-height: 29px;
    color: #39b919;
}

.cen_txt h2 a {
    color: #fff;
    font-size: 100px;
    line-height: 148px;
    font-weight: 300;
}

.cen_txt p {
    font-size: 24px;
    line-height: 40px;
    margin-top: 28px;
    color: #fff;
}

.cen_txt p span {
    display: block;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
}

.cen_icon li {
    margin-top: 30px;
}
.cen_icon span {
    display: block;
    width: 132px;
    height: 132px;
    border: 3px solid #39b919;
    box-sizing: border-box;
    background-position: center center;
    background-color: #fff;
    border-radius: 100%;
}

.ma_icon span {
    background-image: url(../img/main/mc4_icon2.png);
}
.go_icon span {
    background-image: url(../img/main/mc4_icon3.png);
}
.se_icon span {
    background-image: url(../img/main/mc4_icon1.png);
}

.cen_icon p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    color: #fff;
    opacity: 0.5;
}

.notice {
    padding: 150px 0;
    border-top: 6px solid #39b919;
}

.noti_wrap {
    display: flex;
    justify-content: space-between;
}
.noti_wrap > div {
    width: 50%;
}

.noti_left {
    padding-right: 40px;
}

.noti_right {
    padding-left: 40px;
}
.noti_wrap h4 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    color: #00305b;
    margin-bottom: 20px;
}

.noti_wrap h4 a {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    float: right;
}

.noti_wrap ul {
    border-top: 2px solid #000;
}

.noti_wrap li {
    border-bottom: 1px solid #000;
}

.noti_wrap li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.noti_wrap a {
    display: flex;
    justify-content: space-between;
    padding-left: 9px;
    color: #333;
}

.noti_wrap p {
    font-size: 15px;
    line-height: 58px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noti_wrap span {
    font-size: 13px;
    line-height: 58px;
    color: #999;
}

.about_1 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    
}

.about_1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url(../img/contents/sb01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -10;
    animation-name: zoomout;
    animation-timing-function:ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.about_1 h3 {
    display: block;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.68;
    letter-spacing: 1.08px;
    color: #fff;
}

.about_1 p {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    color: #fff;
}

.about_2 {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 240px;
}

.about_2 h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 21px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.59;
    letter-spacing: 3.4px;
    color: #000;
    margin-bottom: 77px;
}

.about_2 h3::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #101010;
    transform: translateX(-50%);
}

.about_2 h4 {
    position: relative;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.46;
    color: #00305b;
    margin-bottom: 51px;
}

.about_2 h4::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #00305b;
    transform: translateX(-50%);
}

.img2_bnr img {
    display: block;
    max-width: 1264px;
    width: 100%;
    height: auto;
    margin: auto;
}

img.intrd_txt {
    margin-top: -9%;
    padding: 0 68px;
    box-sizing: border-box;
}
.txt_box {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 642px;
    text-align: center;
}

.txt_box span {
    display: block;
    font-size: 40px;
    line-height: 1.5;
    font-weight: bold;
    color: #cecece;
}

.txt_box p {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    color: #000;
}

.about_list {
    margin: auto;
    margin-top: 100px;
    max-width: 1008px;
    display: flex;
    justify-content: space-around;
}

.about_list li {
    padding: 20px 30px;
    text-align: center;
}

.icon_cercle {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-color: #f5f5f5;
    border-radius: 50%;
}
.icon_cercle::before {
    position: absolute;
    content: "";
    display: block;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cer1::before {
    background-image: url(../img/contents/bd_about01.png);
}
.cer2::before {
    background-image: url(../img/contents/bd_about02.png);
}
.cer3::before {
    background-image: url(../img/contents/bd_about03.png);
}

.icon_cercle img {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px;
    max-height: 100%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.about_list span {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.about_table {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1008px;
    border-top: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    color: #333;
    font-size: 14px;
}

.col2 {
    display: flex;
    width: 100%;

    border-bottom: 1px solid #dcdcdc;
}

.col2 > div {
    width: 50%;
    display: flex;
}
.col2 > div > div {
    height: 100%;
    padding: 8px 20px;
    letter-spacing: -0.8px;
    box-sizing: border-box;
    line-height: 22px;
    min-height: 62px;
    word-break: break-all;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.col2 span {
    flex-shrink: 0;
    width: 110px;
    height: 100%;
    font-weight: bold;
    background-color: #f5f5f5;
    border-right: 1px solid #dcdcdc;
    padding: 8px 20px;
    letter-spacing: -0.8px;
    box-sizing: border-box;
    line-height: 22px;
    word-break: break-all;
    display: flex;
    align-items: center;
}

.bd_bot {
    border-bottom: none;
}
.bd_left {
    border-left: 1px solid #dcdcdc;
}

.ci {
    padding-top: 168px;
}
.ci_box {
    border: 5px solid #dcdcdc;
    padding: 100px 15px;
    text-align: center;
}

.ci_box img {
    width: 200px;
    height: auto;
}
.ci_txt {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    color: #000;
}

.ci_txt span {
    display: block;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

.ci_color {
    margin: 0 auto;
    margin-top: 90px;
    max-width: 628px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateX(-7px);
}

.ci_color li {
    padding-left: 14px;
    padding-top: 20px;
    display: inline-block;
    width: 33.333%;
    font-size: 16px;
    vertical-align: top;
    box-sizing: border-box;
}

.ci_color span {
    display: block;
    height: 30px;
}

.item1 span {
    background-color: #221e1e;
}
.item2 span {
    background-color: #d0e6c8;
}
.item3 span {
    background-color: #06772d;
}

.ci_color p {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #999;
}

@media only screen and (max-width: 1520px) {
    img.intrd_txt {
        margin-top: -10%;
    }
}

@media only screen and (max-width: 1154px) {
    #sec1 {
        padding-top: 90px;
    }
    svg > text {
        font-size: 15vw;
        stroke-width: 1px;
    }
}

@media only screen and (max-width: 1100px) {
    #sec1 article p {
        font-size: 34px;
        line-height: 50px;
    }
    .mc3 > div > div {
        width: calc(100% + 40px);
        display: flex;
        margin-left: -20px;
    }
    .mc3 figure {
        width: 33.333%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .center {
        height: 100vw;
    }

    /* 소개페이지 */
    .about_list span {
        margin-top: 20px;
        font-size: 15px;
    }

    .col2 {
        flex-direction: column;
    }
    .col2 > div {
        width: 100%;
    }
    .bd_bot {
        border-bottom: 1px solid #dcdcdc;
    }
    .bd_left {
        border-left: none;
    }
}

@media only screen and (max-width: 900px) {
    #sec1 {
        padding-top: 50px;
    }
    #sec1 article p {
        font-size: 28px;
        line-height: 44px;
    }

    .contents {
        flex-direction: column;
        padding: 80px 0;
    }

    .cont_big {
        width: 100%;
    }
    .cont_big a {
        height: auto;
        padding-top: 100%;
    }
    .cont_small {
        width: 100%;
    }
    .cont_small a {
        height: auto;
        padding-top: 100%;
    }
    .cont_txt h3 {
        font-size: 12px;
        line-height: 20px;
    }

    .cont_txt p {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    main {
        padding-top: 50px;
    }
    #sec1 {
        padding-top: 0;
    }

    #sec1 article {
        top: 125px;
        flex-direction: column;
        align-items: flex-start;
    }

    #sec1 article p {
        display: block;
        font-size: 18px;
        line-height: 28px;
    }

    .btn_more a {
        margin-top: 30px;
        width: 130px;
        height: 40px;
        line-height: 36px;
        font-size: 11px;
    }

    .mc1_img_wrap {
        padding-top: 100%;
    }

    .mc1_bnr h3 {
        font-size: 20px;
    }
    .mc1_bnr p {
        font-size: 12px;
    }
    .mc3 {
        padding: 80px 0;
    }
    .mc3 > h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .mc3 > div {
        width: 102.5%;
        overflow-x: scroll;
    }
    .mc3 > div > div {
        width: 270%;
        margin-left: 0;
    }
    .mc3 figure {
        padding: 0 5px;
    }

    figcaption h3 {
        font-size: 20px;
        line-height: 29px;
    }

    figcaption p {
        font-size: 12px;
        line-height: 21px;
    }

    .center {
        height: 160vw;
    }
    .cen_wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .cen_txt span {
        font-size: 12px;
        line-height: 20px;
    }
    .cen_txt h2 a {
        font-size: 50px;
        line-height: 70px;
    }
    .cen_txt p,
    .cen_txt p span {
        display: inline;
        font-size: 12px;
        line-height: 20px;
    }

    .cen_icon {
        width: 100%;
    }

    .cen_icon > ul {
        display: flex;
        justify-content: space-around;
    }

    .cen_icon span {
        width: 90px;
        height: 90px;
    }

    .noti_wrap {
        flex-direction: column;
    }
    .noti_wrap > div {
        width: 100%;
    }
    .noti_wrap p {
        font-size: 13px;
    }
    .noti_left {
        padding: 0;
    }
    .noti_right {
        margin-top: 60px;
        padding: 0;
    }

    /* 소개페이지 */
    .about_1 {
        height: 240px;
    }

    .about_1 h3 {
        font-size: 26px;
    }
    .about_1 p {
        font-size: 12px;
    }

    .about_2 {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    .about_2 h3 {
        font-size: 22px;
        padding-bottom: 15px;
        margin-bottom: 40px;
    }
    .about_2 h4 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .txt_box {
        margin-top: 20px;
    }

    .txt_box span {
        font-size: 22px;
    }
    .txt_box p {
        font-size: 13px;
        margin-top: 10px;
    }

    .about_list {
        flex-direction: column;
        margin-top: 30px;
    }

    .icon_cercle {
        width: 130px;
        height: 130px;
    }

    .about_table {
        font-size: 13px;
        margin-top: 60px;
    }

    .col2 > div {
        height: 45px;
    }
    .col2 > div > div {
        height: 45px;
        padding: 8px 20px;
        min-height: 0;
    }

    .ci {
        padding-top: 60px;
    }

    .ci_box {
        padding: 50px 15px;
    }

    .ci_txt {
        margin-top: 30px;
        font-size: 13px;
    }

    .ci_txt span {
        font-size: 20px;
        margin-top: 5px;
    }
    .ci_color {
        transform: translateX(-5px);
    }
    .ci_color li {
        width: 50%;
        padding-left: 10px;
    }
}
